@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');

}

:root {
  font-family: Inter, 'Noto Sans JP', sans-serif !important;
  font-weight: 400;
}


.App {
  text-align: center;
  font-family: Inter, 'Noto Sans JP', sans-serif !important;
}

a{
  text-decoration: none;
}